@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html{
  margin:0;
}
* {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.w-50{
  width: 50%;
}

header {
  margin-top:60px;
  height:calc(100vh - 60px);
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.header-illust{
  padding:3rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.head-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.title h1 {
  font-size:3rem;
}
.title h2{
  font-weight: normal;
  font-size:1.3rem;
}
.cta{
  display: block;
  background-color: #E94D90;
  color:white;
  padding: .8rem 3rem;
  border-radius:50px;
  font-size: 1.2rem;
  margin-top:2rem;
  border:none;
  cursor: pointer;
  transition: all .3s;
}
.cta:focus{
  outline: none;
}
.cta:hover{
  background-color: #9e285b;
}

.mainnav{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 60px;
  background-color:white;
  box-shadow: rgba(0,0,0,.2) 4px 0 4px;
  color:black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hightlight{
  color:#E94D90;
}

.floating{
  animation: float 3s infinite;
}

@keyframes float{
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(10px);
  }
  100%{
    transform:translateY(0);
  }
}

/* ============ RESPONSIVENESS, taruh sini ya kawan kawan *=================*/
@media screen and (max-width: 670px){
  header {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .w-mobile-100{
    width: calc(100vw - 6rem);
    padding:0 3rem;
  }
  .head-title{
    justify-content: start;
    height: calc(60vh);
  }
  .header-illust{
    justify-content: flex-end;
    height: calc(40vh);
  }
  .title h1 {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 1.2rem;
  }
}
