@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html{
  margin:0;
  scroll-behavior: smooth;
  overflow-x:hidden;
}
* {
  font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/*=== head navigation ====*/
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
.header-logo {
  float: left;
  font-size: 24px;
  padding: 12px 40px;
}
.header-list{
    float:right;
}
.header-list ul {
    list-style: none;
}

.header-list .listedmenu li {
  float: left;
  padding: 19px 20px;
  font-size:.9rem;
  cursor: pointer;
}
.header-list .listedmenu li:hover{
  background: #e94d90;
  color: white;
  transition: .3s background-color, color;
}
.header-list .listedmenu li:active, .header-list .listedmenu li:focus{
  background: #b7326b;
}

.mainnav{
  z-index: 999;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  background-color:white;
  box-shadow: rgba(0,0,0,.2) 4px 0 4px;
  color:black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#menuToggle{
  display: none;
  position: relative;
  right: 15px;
  padding: 18px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle li{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 8px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

/*
 * kami suka burger hahaha
 */
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }

  #menuToggle span:first-child{transform-origin: 0% 0%;}

  #menuToggle span:nth-last-child(2){transform-origin: 0% 100%;}

  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(6px, -2px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2){ transform: rotate(-45deg) translate(1px, 7px); }

  #mobilemenu {
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #mobilemenu li{
    cursor: pointer;
    padding: 10px 0;
    font-size: 22px;
  }
  #mobilemenu li:focus{
    outline:none;
  }

  #menuToggle input:checked ~ ul{
    transform: none;
  }

  #mobilemenu li:hover, #mobilemenu li:active{
    color: #E94D90;
  }

  /*================ navigasi nyampe sini aja ==================*/

.profile{
    padding-top:4rem;
}
.profile h1 {
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #e94d90;
    padding: 25px;
}

.profile .container {
    display: flex;
    width: 1170px;
    margin: 50px auto;
}

.profile .container .card {
    flex-grow: 1;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ecf0f1;
    cursor: pointer;
    transition: all 1s 0.01s;
}

.profile .container .card:hover {
    box-shadow: 0 0 20px rgba(189, 195, 199, 0.6);
    transform: scale(1.1);
}

.profile .container .card .img {
    margin-top: 20px;
    text-align: center;
}

.profile .container .card .img img {
    width: 100px;
    border-radius: 100%;
}

.profile .container .card .info {
    width: 140px;
    height: 50px;
    text-align: center;
    margin: 30px auto;
}

.profile .container .card .info .name {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(115, 114, 111);
    font-size: 17px;
}

.profile .container .card .info .status {
    font-family: sans-serif;
    font-style: italic;
    color: rgb(115, 114, 111);
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}


/*==== jubmotron ===*/

.w-50{
    width: 50%;
  }
  
  header {
    margin:60px auto 0 auto;
    height:calc(100vh - 60px);
    width: 100vw;
    max-width: 1170px;
  }

  header .flex-container{
    padding-top:4rem;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
  }
  
  .header-illust{
    padding:3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .head-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }
  .title h1 {
    font-size:3rem;
  }
  .title h2{
      padding-top:1rem;
    font-weight: normal;
    font-size:1.3rem;
  }
  .cta{
    display: inline-block;
    text-decoration: none;
    background-color: #E94D90;
    color:white;
    padding: .8rem 3rem;
    border-radius:50px;
    font-size: 1.2rem;
    margin-top:2.5rem;
    border:none;
    cursor: pointer;
    transition: .3s background-color;
    box-shadow: rgba(233,77,144,0.35) 3px 2px 10px;
  }
  .cta:focus{
    outline: none;
  }
  .cta:hover{
    background-color: #ff65a7;
    box-shadow: rgba(233,77,144,.65) 3px 2px 10px;
  }
  .cta:active{
    background-color: #b7326b;
  }
  .hightlight{
    color:#E94D90;
  }
  
  .floating{
    animation: float 3s infinite;
  }

/*message form start*/
.formcontainer{
  margin-left: 10px;
  margin-right: 10px;
}

.messageForm {
    max-width: 400px;
    margin: 60px auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .messageForm h2{
    font-size: 20px;
    text-align: center;
    color: #444444;
    margin-bottom: 25px;
  }
  
  .messageForm ul{
    list-style: none;
    /*border: 1px solid #dddddd;*/
    padding:0;
  margin:0;
  }
  
  .messageForm li{
    display: block;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 10px;
  }
  
  .messageForm li:last-child{
    border: none;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .messageForm li label{
    display: block;
    float: left;
    margin-top: -20px;
    padding: 2px 5px 2px 5px;
    background-color: #ffffff;
    font-size: 14px;
    color: #B9B9B9;
    height: 14px;
  }
  
  .messageForm input[type="email"], input[type="text"], textarea {
    border: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
  }
  
  .messageForm textarea{
    resize:none;
    height: 100px;
  }
  
  .messageForm li span{
    display: block;
    background: #f4f4f4;
    text-align: center;
    font-size: 12px;
    color: rgb(155, 155, 155);
    padding: 3px;
    margin: 0 -10px -10px -10px;
  }
  
  .messageForm [type="submit"]{
    width: 400px;
    padding: 7px 20px;
    margin: 0 -20px 0 -20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #f4f4f4;
    color: rgb(155, 155, 155);
  }
  
  .messageForm [type="submit"]:hover{
    background: #dddddd;
    cursor: pointer;
    color: rgb(126, 126, 126);
  }
  
  /*message form end*/
  
  @keyframes float{
    0%{
      transform:translateY(0);
    }
    50%{
      transform:translateY(10px);
    }
    100%{
      transform:translateY(0);
    }
  }

  /*======== bagian quote ========*/

  .fluid-container{
    width: 100%;
  }
  #quote{
    margin:10rem 0;
    padding:5rem 0;
    background: rgba(178,180,181,.1);
  }
  #quote p{
    padding:1rem 15vw;
    font-size:24px;
  }
  #quote p:nth-child(1){
    font-style: oblique;
    text-align: center;
  }
  #quote p:nth-child(2){
    text-align: right;
    font-style: oblique;
    font-size: 18px;
    font-weight: lighter;
  }

@media screen and (min-height:800px) and (min-width:900px){
  header {
    height:auto!important;
  }
}
/*for tablet*/
@media screen and (max-width: 1000px) {
    header {
        height:auto;
    }
    .title h1{
        font-size: 2rem;
    }
    .title h2{
        font-size:1.2rem;
    }
    .profile h1 {
        font-size: 24px;
    }
    .profile .container {
        width: 670px;
        margin: 25px auto;
    }

    .profile .container .card {
        width: 100px;
        margin: 8px;
    }

    .profile .container .card .img img {
        width: 70px;
    }

    .profile .container .card .info .name {
        font-size: 14px;
    }

    .profile .container .card .info .status {
        font-size: 12px;
    }

    .profile .container .card .info {
        width: 100px;
        margin-top: 20px auto;
    }
}

/*for smartphone*/
@media screen and (max-width: 670px) {
  header .flex-container{
    padding-top: 0;
  }
  .mainnav{
    position: fixed;
  }
  .header-logo {
    font-size: 22px;
    padding: 15px 12px;
  }
    #menuToggle{
      display: block;
    }

    .header-list .listedmenu {
      display:none;
    }

    .profile h1 {
        font-size: 30px;
    }
    
    .profile .container {
        flex-direction: column;
        width: 300px;
        margin: 30px auto;
    }

    .profile .container .card {
        flex-grow: 1;
        width: auto;
    }

    .profile .container .card .img img {
        width: 90px;
    }

    .profile .container .card .info .name {
        font-size: 17px;
    }

    .profile .container .card .info .status {
        font-size: 14px;
    }

    .profile .container .card .info {
        width: 140px;
    }

    header .flex-container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .w-mobile-100{
        width: calc(100vw - 6rem);
        padding:0 3rem;
    }
    .head-title{
        justify-content: start;
        height: calc(60vh);
    }
    .header-illust{
        justify-content: flex-end;
        height: calc(40vh);
    }
    .title h1 {
        font-size: 2rem;
        margin-top:2rem;
    }
    .title h2 {
        font-size: 1.2rem;
    }
    .messageForm [type="submit"]{
      width: 105%;
    }

    /* responsive quote */
    #quote p:nth-child(1){
      font-size: 18px;
    }
    #quote p:nth-child(2){
      font-size: 14px;
    }
}
